@using Model
@model Model.MongoDb.Team

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Team</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="NameTeam" class="control-label"></label>
				<input asp-for="NameTeam" class="form-control" />
				<span asp-validation-for="NameTeam" class="text-danger"></span>
			</div>
			<label>Cidade</label><br />
			<select asp-for="City" id="City">
                @foreach (City city in await Services.SeachApi.GetAllCityInApi())
                {
					<option value="@city.NameCity"> @city.NameCity </option>
				}
			</select>
			<hr />
			<div class="form-group">
				<label asp-for="Persons" class="control-label">Pessoas Disponíveis:</label><br />
				@foreach (var person in await Services.SeachApi.GetAllPersonStatusTrue())
				{
					<input name="checkPeopleJoinTeam" type="checkbox" value=@person.Id>

					<label for="@person.Name"> @person.Name</label>

					<br />
				}
			<hr />

				<label asp-for="Persons" class="control-label">Pessoas da Equipe: </label><br />
				@foreach (var person in ViewBag.PersonTeam)
				{
					<input name="checkPeopleRemoveTeam" type="checkbox" value=@person.Id>

					<label for="@person.Name"> @person.Name</label>

					<br />
				}
			</div>
			<hr />
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
