@using Model
@using Services
@model Model.MongoDb.Team

@{
	ViewData["Title"] = "Edit";
}
<br />
<br />
<h1>Editar @Model.NameTeam </h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="NameTeam" class="control-label"></label><br /><br />
				<input asp-for="NameTeam" class="form-control border border-secondary" />
				<span asp-validation-for="NameTeam" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="exampleSelect1" class="form-label mt-4">Cidade</label>
				<select asp-for="City" id="City">
					@foreach (City city in await SeachApi.GetAllCityInApi())
					{
						<option value="@city.NameCity"> @city.NameCity </option>
					}
				</select>
				<br /><br />
			</div>
			<hr />
			<div class="form-group">
				<label asp-for="Persons" class="control-label">Pessoas Disponíveis:</label><br />
				@foreach (var person in await Services.SeachApi.GetAllPersonStatusTrue())
				{
					<input name="checkPeopleJoinTeam" type="checkbox" value=@person.Id>

					<label for="@person.Name"> @person.Name</label>

					<br />
				}
				<hr />

				<label asp-for="Persons" class="control-label">Pessoas da Equipe: </label><br />
				@foreach (var person in ViewBag.PersonTeam)
				{
					<input name="checkPeopleRemoveTeam" type="checkbox" value=@person.Id>

					<label for="@person.Name"> @person.Name</label>

					<br />
				}
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Salvar" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
<br />
<hr />
<div>
	<a asp-action="Index" class="btn btn-outline-secondary">Retornar</a>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
