@model IEnumerable<Model.MongoDb.Route>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusRota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auditado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CopRevertue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogRota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pdf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assinante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tecnicos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimoAlterar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalAtuacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ponto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Base)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Segmento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoOS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NodeRota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObsTecnico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusRota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auditado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CopRevertue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogRota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pdf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assinante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tecnicos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimoAlterar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalAtuacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ponto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Base)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Segmento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoOS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NodeRota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObsTecnico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
